// Define variables for your color scheme

// For example:
$red: #E7475E;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #48BA95;
$gray: #000000;
$light-gray: #F4F4F4;
$white: white;
$cream: #FEF8E6;
$brown: #E9D2B3;
