// Specific CSS for your home-page
.banner {
  color: #FEF4E8;
  font-size: 40px;
  text-align: center;
  height: 400px !important;
  width:100%;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.content{
  margin-top: 20px;
}

.rent-link{
  color: #FFFDE1;
}

.rent-link :hover{
  color:#FFFDE1;
  opacity: 0.5;
}
