<div class="container">
  <div class=create-position>
    <div class="create-form">

    <% if policy(Item).create? %>
      <%= render 'form', item: @item %>
    <% end %>
    <p></p>
    <%= link_to 'Destroy', { controller: :items, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-general2"%>

    </div>
  </div>
</div>

