
<%#= cl_image_tag("image.png", width: 400, height: 300, crop: :fill) %>

<center><h1>All items</h1></center>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
  <div class="col-xs-12 col-sm-4">
    <div class="image_item" style="background-image: url(<%= cl_image_path item.photo unless item.photo.blank? %>)">
  </div>
    <% if policy(item).show? %>
      <center><%= link_to "Show", item %></center>
    <% end %>
  </div>
  <% end %>
</div>
</div>
