.btn-general {
  color: $brown;
  border: 1px solid $brown;
  padding: 0 15px;
  height: 23px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  font-size: 16px;
  background-color: $green;
}
.btn-general:hover{
  opacity: 1;
  color: $brown;
}

a:hover {
  text-decoration: none !important;
}

.btn-create {
  color: $brown;
  border: 1px solid $brown;
  padding: 0 15px;
  height: 130px;
  width: 180px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  font-size: 32px;
  background-color: $green;
}
