.btn-general {
  color: $white;
  border: 1px $cream;
  padding: 0 15px;
  height: 25px;
  border-radius: 5px;
  font-weight: normal;
  opacity: 0.7;
  font-size: 16px;
  font-weight: bold;
  background-color: $brown;
}
.btn-general:hover{
  opacity: 0.5;
  color: $cream;
}

a:hover {
  text-decoration: none !important;
}


.btn-medium {
  color: $brown;
  border: 1px solid #999999;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}
.btn-medium:hover {
  opacity: 0.7;
  text-decoration: none;
  color: $brown;
}
.btn-create {
  color: $brown;
  border: 1px solid $brown;
  padding: 0 15px;
  height: 130px;
  width: 180px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  font-size: 32px;
  background-color: $cream;
}
.btn-profile {
  color: $white;
  border: 1px solid $white;
  padding: 0 15px;
  height: 130px;
  width: 180px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  font-size: 32px;
  background-color: $brown;
}
.btn-profile:hover {
  opacity: 0.5;
  color: $cream;

}

.btn-option {
  color: $cream;
}
