.btn-general {
  color: white;
  border: 1px $cream;
  padding: 0 15px;
  height: 25px;
  border-radius: 10px;
  font-weight: normal;
  opacity: 0.8;
  font-size: 16px;
  background-color: $brown;
}
.btn-general:hover{
  opacity: 0.5;
  color: $cream;
}

a:hover {
  text-decoration: none !important;
}

