.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  border-radius: 10px;
  margin-bottom: 15px;
  & h5{
    position: absolute;
    bottom: 15px;
    padding: 15px;
    color: $white;
  } & p {
    bottom: 5px;
    position: absolute;
    padding-left: 15px;
    color: $white;
  }
}

.card h5:hover{
  opacity:1;
  color: $white;
}

.card p:hover{
  color: $white;
  opacity: 0.7;
}
