.footer {
  background: #FEF4E8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #AAAAAA;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #474744;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

