.image_profile {
 height: 250px;
 width: 250px;
 background-size: cover;
 background-position: center;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 border-radius: 125px;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 margin-bottom: 25px;
 margin-top: 25px;
}

.centered {
  text-align: center;
}

.rental-box {
  background-color: $cream;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.v-align {

  height: 120px;
}
.choice-btn {
  width: 90px;
}

.btns {
  margin-left: 25%;
}
