.main-container {
  display: flex;
  border: solid $cream;
  border-radius: 50px;
  position: relative;
  margin: 10px;
  padding: 15px;
}
.personal-details {
  height: 50px;
}
.request-owner {
  text-align: center;
  height: 150px;
  width: 140px;
}
.bold {
  font-weight: bold;
}
.down {
  margin-top: 20px;
}
.rental-details {
  flex-grow: 1;
  margin-right: 70px;
  margin-left: 70px;
}
.float-left {
  float: left;
  margin-left: 20px;
}
.float-right {
  float: right;
  margin-right: 20px;
}
.lighter {
  font-weight: lighter;
  font-style: italic;
}
.small {
  font-size: 16px;
}
.inset-left {
  margin-left: 30px;
}

.image_profile {
 height: 250px;
 width: 250px;
 background-size: cover;
 background-position: center;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 border-radius: 125px;
 text-shadow: 0 1px 3px rgba(0,0,0,0.6);
 margin-bottom: 25px;
 margin-top: 25px;
}

.centered {
  text-align: center;
}

.top {
  align-items: top;
}
.topped {
  margin-top: 5px;
  margin-left: 40px;
}
.from-top {
  margin-top: 25px;
}
.padding {
  padding-top: 5px;
  padding-bottom: 15px;
}

.rental-box {
  background-color: $cream;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.v-align {

  height: 120px;
}
.choice-btn {
  width: 90px;
  margin: 8px 0;
}

.btns {
  margin: 30px 0;
  width: 100px;
}
