<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <h3> RENT@DRESS </h3>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign Up</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Login</a>
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>
    <!-- Profile picture with dropdown list -->

